<div align="center">
	<div class="mdl-card">
	  <div class="mdl-card__title" align="center">
	     <h2 class="mdl-card__title-text"><%= roles.power %></h2>
	  </div>
	  <div class="mdl-card__supporting-text">
	  	ID del Usuario con este rol <%= roles.user_id %>
	  </div>
	  <div class="mdl-card__actions">
	     <form action="/roles/edit/<%=roles.id%>" method="POST">
	  		<button type="submit">Editar</button>
	  	</form>
	  </div>
	</div>
</div>